*{
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    user-select: none;
}

body{ 
    background-color: rgb(66, 66, 66);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

#content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
    position: relative;
    top: -60px;
    font-size: 7em;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.24);
    
}

#game{
    height: 40vh;
    width: 70vw;
    border-radius: 2svb;
    box-shadow: inset 0 0 20px black;
    background-color: rgb(71, 71, 71);
    z-index: 3;
    overflow: hidden;
}

#character{
    width: 3vw;
    height: 13vh;
    background-color: rgb(88, 139, 92);
    border-radius: 1svb;
    position: relative;
    top: 26vh;
    left: 0.8vw;
    z-index: 2;
}

.animate{
    animation: jump 500ms;
}

@keyframes jump{
    0%{top: 26vh;}
    30%{top: 15vh;}
    70%{top: 15vh;}
    100%{top: 26vh;}
}

#block{
    width: 4vw;
    height: 7vh;
    border-radius: 1svb;
    background-color: rgba(255, 0, 0, 0.719);
    position: relative;
    top: 19vh;
    left: 75vw;
    z-index: 1;
    animation: block 1.5s linear infinite;
}

@keyframes block{
    0%{left: 75vw;}
    100%{left: -5vw;}
}

#restart{

    width: 12vw;
    aspect-ratio: 4/2;
    border: none;
    border-radius: 2svb;
    background-color:  rgb(71, 71, 71);
    box-shadow: inset 0 0 15px black;
    position: relative;
    top: 50px;
    color: rgba(255, 255, 255, 0.24);
    font-size: 3vw;
    font-weight: 700;
}